@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .quantity-btn {
        @apply text-celeste rounded-lg text-4xl
    }
}

/*.swiper-slide-duplicate{
    height:90vh;
    margin-top:0;
}*/