/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;400;500;600&display=swap');

.favorite, .order {
    height: calc(100vh - 92px);

}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap%27');
}
  

