/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@400;600;700&family=Poppins:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

.favorite, .order {
    height: calc(100vh - 92px);

}
@font-face {
    font-family: 'Poppins','Montserrat';
    font-weight: 300;
}
  

